<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/subforums">Subforum List</a></li>
    <li><a href="/newpost">New Post</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>